@media  screen and (max-width: 698px) {
        img {
            display: none;
        }
        .navSub {
            display: none;
        }
       
        .h2Header {
            display: none;
        }
        .divHeader {
            margin: 0px;
            padding: 20px;
        }
        .divHeader nav {
            font-size: .9em;
        }
        .divIntroducao {
            position: absolute;
            margin-left: 99px;
            left: -1%;
        }
        .section1 > .div1Section1 {
            font-size: .9em;
            position: absolute;
            top: 105%;
            left: 18%;
            margin: 0px;
            padding: 0px;
        }
        .htmlLogo, .cssLogo, .javaLogo{
            display: none;
        }

}